* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

.SearchTerm-Container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(247, 15, 15);
    height: 80vh;
}