.beer-container {
    border: 1px solid blue;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.beer-container h3 {
    color: brown;
}

.beer-container h1 {
    color: rgb(9, 82, 6);
}

.beer-container h4 {
    color: rgb(39, 6, 228);
}